@using Junko.Application.Extensions
@using Junko.Application.Statics
@using Junko.Domain.Entities.Products
@using Junko.Domain.ViewModels.Products
@model FilterProductDTO

@{
    ViewData["Title"] = "لیست محصولات";
}

<div class="col-xs-4">
    <div class="well with-header">
        <div class="header bordered-sky">
            فیلتر
        </div>
        <form asp-area="Admin" asp-controller="Products" asp-action="Index" method="get" id="filter-form">
            <input type="hidden" asp-for="CurrentPage" />
            <div class="form-group">
                <label>نام محصول</label>
                <input class="form-control" asp-for="ProductTitle">
            </div>
            <hr />
            <h4>وضعیت</h4>
            <div class="control-group">
                @foreach (var item in Html.GetEnumSelectList<FilterProductState>())
                {
                    <div class="radio">
                        <label>
                            <input type="radio" class="colored-blue" name="@nameof(Model.FilterProductState)" value="@item.Value" @(Convert.ToInt32(item.Value) == Convert.ToInt32(Model.FilterProductState) ? "checked" : "")>
                            <span class="text">@item.Text</span>
                        </label>
                    </div>
                }
            </div>
            <button type="submit" class="btn btn-success btn-block">فیلتر</button>
        </form>
    </div>
</div>


<div class="col-xs-8">
    <div class="well with-header with-footer">
        <div class="header bordered-sky">
            @ViewData["Title"]
        </div>
        @if (Model.Entities != null && Model.Entities.Any())
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            تصویر محصول
                        </th>
                        <th>
                            نام محصول
                        </th>
                        <th>
                            قیمت پایه
                        </th>
                        <th>
                            وضعیت
                        </th>
                        <th>
                            دستورات
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Entities)
                    {
                        <tr id="ajax-url-item-@product.Id">
                            <td>
                                <img src="@(SiteTools.ProductImage + product.ImageName)" width="100" />
                            </td>
                            <td>
                                @product.Title
                            </td>
                            <td>
                                @product.Price.ToString("#,0")
                            </td>
                            <td>
                                @product.ProductAcceptanceState.GetEnumName()
                            </td>
                            <td>
                                @if (product.ProductAcceptanceState != ProductAcceptanceState.Accepted)
                                {
                                    <a class="btn btn-success" ajax-url-button="@product.Id" asp-area="Admin" asp-controller="Products" asp-action="AcceptSellerProduct" asp-route-id="@product.Id">تایید اطلاعات</a>
                                }

                                @if (product.ProductAcceptanceState != ProductAcceptanceState.Rejected)
                                {
                                    <button class="btn btn-danger" onclick="RejectProductModal('@product.Id')">ردکردن محصول</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning">
                <p>
                    هیچ اطلاعاتی یافت نشد
                </p>
            </div>
        }
        <div class="footer">
            <partial name="_AdminPagingPartial" model="@Model.GetPaging()" />
        </div>
    </div>
</div>

@section scripts
{
    <partial name="_JqueryValidators" />
}